/* 공통 header css */

. * {
    font-family: 'Jua', sans-serif;
}

header {
    height: 75px;
    padding: 1rem;
    background-color: #7177ec;
    color: white;
    background: #7177ec;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

header .headerLogo {
    font-size: 1.2rem;
}

header .headerTitle {
    font-size: 2.2rem;
}

/* 공통 컨테이너 css */
.container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.menuContainer {
    padding-top: 100px !important;
}
