<!Doctype html>
<html lang="en">
<head>
    <title> 항해GPS | 보물창고 </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">

    <!-- style -->
    <style>
        .btn01 {
            height: 50px;
            width: 50px;
            font-size: 30px;
            padding-bottom: 10px;
            border-radius: 50px;
            background-color: #177199;
            color: white;
            border-color: white;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

        .display-4 {
            font-size: 40px;
            font-weight: bold;
        }

        .column {
            margin-top: 20px;
        }

        .jumbotron {
            margin-top: 20px;
        }


    </style>

    <script>
        $(document).ready(function () {
        });

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

        function openClose() {
            if ($("#post-box").css("display") == "block") {
                $("#post-box").hide();
                $("#btn-post-box").text("+");
            } else {
                $("#post-box").show();
                $("#btn-post-box").text("-");
            }
        }

        function postArticle() {
            let url = $('#post-url').val()
            let comment = $('#post-comment').val()

            $.ajax({
                type: "POST",
                url: "/Detail02",
                data: {url_give: url, comment_give: comment},
                success: function (response) { // 성공하면
                    alert(response["msg"]);
                    window.location.reload()
                }
            })
        }
    </script>
</head>

<body>
<header>
    <div class="headerLogo">항해GPS</div>
    <div class="headerTitle">보물창고</div>
    <button class="button is-white" onclick="sign_out()"style="font-family: 'Jua', sans-serif;">로그아웃</button>
</header>

<div class="container is-fullhd menuContainer">
    <div class="columns">
        <div class="column">
            <button class="button is-large is-fullwidth is-info is-outlined" onclick="window.location.href='/mainPg'">
                항해GPS
            </button>
        </div>
        <div class="column">
            <button class="button is-large is-fullwidth is-info is-outlined" onclick="window.location.href='/detail01'">
                항해일지
            </button>
        </div>
        <div class="column">
            <button class="button is-large is-fullwidth is-info is-outlined"
                    onclick="window.location.href='/detail02'">보물창고
            </button>
        </div>
        <div class="column">
            <button class="button is-large is-fullwidth is-info is-outlined"
                    onclick="window.location.href='/detail03'">S.O.S
            </button>
        </div>
    </div>
    <div class="jumbotron">
        <p class="display-4">항해99 선원들을 위한 보물창고</p>
        <p class="lead">좋은 영상 및 글을 공유하는 공간입니다</p>
        <hr class="my-4">
        <p class="lead">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn01">+</button>
        </p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">공유하고 싶은 URL</label>
                <input id="post-url" class="form-control">
            </div>
            <div class="form-group">
                <label for="post-comment">작성자</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="postArticle()">포스팅하기</button>
        </div>
    </div>
    <div id="cards-box" class="card-columns">
        {% for video in videos %}
            <div class="card">
                <img class="card-img-top"
                     src="{{ video.image }}"
                     alt="Card image cap">
                <div class="card-body">
                    <a target="_blank" href="{{ video.url }}" class="card-title">{{ video.title }}</a>
                    <p class="card-text">{{ video.desc }}</p>
                    <p class="card-text comment">{{ video.comment }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
<footer class="footer" style="font-family: 'Jua', sans-serif;">
    <div class="content has-text-centered">
        <p><strong>항해GPS</strong> 당신의 99일의 항해를 안전하게 모시겠습니다</p>
    </div>
</footer>
</body>

</html>